@font-face {
  font-family: 'OpenSans';
  src: url("/fonts/Open-Sans/OpenSans-Bold.woff2") format("woff2"), url("/fonts/Open-Sans/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url("/fonts/Open-Sans/OpenSans-Regular.woff2") format("woff2"), url("/fonts/Open-Sans/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("/fonts/Poppins/Poppins-SemiBold.woff2") format("woff2"), url("/fonts/Poppins/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

.header {
  background-color: #edfbfe;
}

.header .container {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .container .header__logo {
  width: 180px;
  height: auto;
}

.header .container .header__link {
  width: 160px;
  height: 40px;
  background-color: #fff;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50px;
  font-size: 16px;
  color: #002432;
  font-weight: 700;
  -webkit-box-shadow: 0 0 10px 1px rgba(202, 199, 199, 0.2);
          box-shadow: 0 0 10px 1px rgba(202, 199, 199, 0.2);
}

.header .container .header__link:hover {
  color: #89939d;
}

.hero {
  background-color: #edfbfe;
  padding: 70px 0;
}

.hero .container {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  grid-row-gap: 65px;
}

.hero .container .hero__content {
  max-width: 680px;
  text-align: center;
  margin: 0 auto;
}

.hero .container .hero__content .hero__title {
  color: #00242d;
  font-size: 28px;
  margin-bottom: 40px;
}

.hero .container .hero__content .hero__copy {
  color: #00242d;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 40px;
}

.hero .container .hero__content .hero__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  border-radius: 50px;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  width: 280px;
  height: 40px;
  background-color: #fe52c0;
}

.hero .container .hero__content .hero__link:hover {
  background-color: #ff9adc;
}

.hero .container .hero__img {
  max-width: 680px;
  width: 100%;
  min-height: 120px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'OpenSans', 'Poppins', sans-serif;
  font-size: 18px;
}

.wrapper {
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
  border: 1px solid;
}

.container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 20px;
}
/*# sourceMappingURL=style.css.map */