.team{
  transform: translateY(50%);

  .container{

    .team__card{
      display: grid;
      justify-items: center;
      align-content: center;
      grid-row-gap: 40px;

      max-width: 800px;
      width: 100%;
      min-height: 280px;
      box-shadow: 0 0 10px 2px rgba(107, 106, 106, 0.2);
      border-radius: 15px;
      background-color: #fff;
      padding: 40px;
      margin: 0 auto;

      .team__card__title{color: rgb(12, 42, 52); font-family: 'Poppins'; font-size: 30px; text-align: center;}
      .team__card__link{
        display: flex;
        align-items: center;
        justify-content: center;

        max-width: 400px;
        width: 100%;
        height: 75px;
        font-family: 'OpenSans';
        color: #fff;
        font-weight: 700;
        background-color: rgb(254, 82, 192);
        text-decoration: none;
        border-radius: 50px;
        &:hover{background-color: rgb(255, 155, 219);}
      }
    }
  }
}

@media(max-width: 375px){
  .team{
    .container{
      .team__card{
        .team__card__title{font-size: 24px;}
        .team__card__link{height: 45px; font-size: 14px;}
      }
    }
  }
}