@font-face {
  font-family: 'OpenSans';
  src: url('/fonts/Open-Sans/OpenSans-Bold.woff2') format('woff2'),
    url('/fonts/Open-Sans/OpenSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('/fonts/Open-Sans/OpenSans-Regular.woff2') format('woff2'),
    url('/fonts/Open-Sans/OpenSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-SemiBold.woff2') format('woff2'),
    url('/fonts/Poppins/Poppins-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@import './header';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'OpenSans', 'Poppins', sans-serif;
  font-size: 18px;
}
.wrapper{
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
  border: 1px solid;
}
.container{
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 20px;
}
